
<%= form_for :search_articles, url: search_articles_path, :method => 'get' do |f| %>
  <p>
    <%= f.text_field :search, value: params[:search_articles].presence && params[:search_articles][:search] %>
    <%= f.submit (t 'global.forms.search'), :title => nil %>
  </p>
<% end %>

<table cellspacing="0" border="1" width="1300">
  <thead>
    <tr>
      <th><%= sortable 'title', (t 'static_pages.index.title') %></th>
      <th><%= t 'static_pages.index.text' %></th>
      <th><%= sortable 'user_id', (t 'static_pages.index.author') %></th>
      <th><%= sortable 'category_id', (t 'static_pages.index.type') %></th>
      <th><%= sortable 'published_at', (t 'static_pages.index.published_at') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= article.user.email %></td>
        <td><%= article.category.name %></td>
        <td><%= article.published_at %></td>
        <td><%= link_to (t 'static_pages.index.show'), article_path(article) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

