<p id="notice"><%= notice %></p>
<p>
  <strong><%= (t 'static_pages.index.title') + ': ' %></strong>
  <%= @article.title %>
</p>

<p>
  <strong><%= (t 'static_pages.index.text') + ': ' %></strong>
  <%= @article.text %>
</p>

<p>
  <strong><%= (t 'static_pages.index.author') + ': ' %></strong>
  <%= @article.user.email %>
</p>

<p>
  <strong><%= (t 'static_pages.index.status') + ': ' %></strong>
  <%= @article.life_cycle %>
</p>

<p>
  <strong><%= (t 'static_pages.index.type') + ': ' %></strong>
  <%= @article.category.name %>
</p>

<p>
  <strong><%= (t 'static_pages.index.images') + ': ' %></strong>
</p>

<% @article.images.each do |i| %>
  <%= image_tag(i, style: 'width:40%') %> 
<% end %>

<p>
<%= link_to (t 'static_pages.index.back'), articles_path %>
</p>
